<!doctype html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="HandheldFriendly" content="True" />
    <title>{{meta_title}}</title>
    <link rel="stylesheet" href="{{asset "font/ionicons/css/ionicons.css"}}">
    <link rel="stylesheet" href="{{asset "css/app.css"}}">
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    {{{body}}}

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{asset "js/app.js"}}"></script>
    {{ghost_foot}}
</body>
</html>