{{!< default}}

{{#post}}
    <div class="site-post">
        <h1 class="site-post-title">
            {{title}}
            <div class="bdsharebuttonbox"><a href="#" class="bds_more" data-cmd="more"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"16"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
        </h1>
        <div class="site-post-info">
            作者：<span class="site-post-author">{{author.name}}</span>
            分类：{{#if primary_tag}} <span class="site-post-tags">{{primary_tag.name}}</span> {{/if}}
            日期：{{date format="YYYY/MM/DD"}}
        </div>
        <article class="site-post-article">
            {{content}}
        </article>
        <h2 class="site-post-title">你可能感兴趣的文章</h2>
        <section class="site-post-relate">
            {{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{id}}" limit="3" as |related_posts|}}
                <ul>
                    {{#foreach related_posts}}
                        <li><a href="{{url}}">{{title}}</a></li>
                    {{/foreach}}
                </ul>
            {{/get}}
        </section>
        <section class="site-post-navigator">
            {{#prev_post}}
                <a class="site-post-prev" href="{{url}}"><i class="icon ion-android-arrow-back"></i> {{title}}</a>
            {{/prev_post}}
            {{#next_post}}
                <a class="site-post-next" href="{{url}}">{{title}} <i class="icon ion-ios-arrow-forward"></i></a></a>
            {{/next_post}}
        </section>

        <div id="disqus_thread"></div>
        <script>
            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://likewater-cn.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>

    <div class="site-post-copyright">
        由 <a href="https://ghost.org/">Ghost</a> 强力驱动
        &nbsp;&nbsp;
        主题 - <a href="https://github.com/meteor9714/likewater">LikerWater</a>
    </div>
{{/post}}

<style>
    body {
        background: #F4F8FB;
    }
</style>